# Team 名で指定。 すべてのファイルに tomoni-admin-maintainers チームの全員が権限を持つ
* @albelium/rss-feedly-maintainers

# GitHub や Tools 関連は @tatsutakein がオーナとなる
/.github/ @tatsutakein
/scripts/ @tatsutakein
/tools/ @tatsutakein
