# Team 名で指定。 すべてのファイルに devtopia-maintainers チームの全員が権限を持つ
* @albelium/devtopia-maintainers

# GitHub や Tools 関連は @tatsutakein がオーナとなる
/.github/ @tatsutakein
/scripts/ @tatsutakein
/tools/ @tatsutakein
